
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.drop-zone--active{
  //background-color: rgba(#000,.9);
  background-color: blue;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  header{
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    border-bottom: solid 1px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    margin-bottom: 3rem;
    background-color: #fff;
    h1{
      margin-left: 2rem;
    }
    label{
      width: 20px;
      height: 20px;
      background-color: violet;
      display: block;
      margin-right: 10rem;
    }
  }
  main{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    @media(min-height: 100vh){
      min-height: 100vh;
    }
    #menu{
      border-right: solid 1px #ccc;
      width: 16%;
      margin: 0;
      padding: 0;
      @media(min-width: 1000px){
        width: 11.5%;
      }

      .list{
        margin-top: 3rem;
        .logo{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 4.5rem;
          cursor: pointer;
          font-size: 1rem;
          color: #333;
          @media(min-width: 1000px){
            height: 5rem;
          }
        }
        #radio-1{
          width: 50px;
          display: none;
          &:checked ~ .my-dashboard:before{
            left: -18%;
          }
          &:checked ~ .my-dashboard #icon-dashboard{
            font-size: 1.5rem;
            background-color: #f3f2f3;
          }
          &:checked ~ .my-dashboard .subtitle-dashboard{
            background-color: #f3f2f3;
            padding: 7px 10px;
          }
          @media(min-width: 1000px){
            &:checked ~ .my-dashboard .subtitle-dashboard{
              background-color: #f3f2f3;
              padding: 7px 10px;
            }
            &:checked ~ .my-dashboard .subtitle-dashboard p{
              font-weight: bold;
            }
            &:checked ~ .my-dashboard #icon-dashboard{
              font-size: 1rem;
              background-color: #f3f2f3;
            }
            &:checked ~ .my-dashboard:before{
              left: -5%;
              top: 50%;
            }
          }
        }
        .my-dashboard{
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 4.5rem;
          cursor: pointer;
          color: #333;
          border-top: solid 1px #ccc;
          border-bottom: solid 1px #ccc;
          @media(min-width: 1000px){
            display: flex;
            flex-wrap: wrap;
            height: 6.5rem;
            flex-direction: column;
            justify-content: space-evenly;
          }
          h4{
            text-align: center;
            display: none;
            color: #7f4693;
            @media(min-width: 1000px){
              display: block;
              width: 100%;
              margin: 5px 0 0 20px;
              text-align: left;
              font-size: 12px;
              font-weight: bold;
            }
          }
          .subtitle-dashboard{
            background-color: transparent;
            border-radius: 5px;
            @media(min-width: 1000px){
              display: flex;
              align-items: center;
              width: 90%;
              justify-content: left;
              border-radius: 2px;
              padding: 7px 10px;
            }
            #icon-dashboard{
            font-size: 1rem;
            transition: all 0.2s;
            margin-right: 5px;
            }
            p{
              display: none;
              margin: 0;
              @media(min-width: 1000px){
                display: block;
              }
            }
          }
          &:before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: #7f4693;
            position: absolute;
            top: 23%;
            transition: all 0.2s;
            left: -28%;
            border-radius: 3px;
            width: 1rem;
            height: 2.5rem;
          }
        }
        #radio-2{
          display: none;
          &:checked ~ .my-setting:before{
            left: -18%;
          }
          &:checked ~ .my-setting #icon-setting{
            font-size: 1.5rem;
            background-color: #f3f2f3;
          }
          @media(min-width: 1000px){
            &:checked ~ .my-setting .subtitle-setting{
              background-color: #f3f2f3;
              padding: 7px 10px;
            }
            &:checked ~ .my-setting .subtitle-setting p{
              font-weight: bold;
              margin: 0;
            }
            &:checked ~ .my-setting:before{
              left: -5%;
              top: 50%;
            }
            &:checked ~ .my-setting #icon-setting{
              font-size: 1rem;
              background-color: #f3f2f3;
            }
          }
        }
        .my-setting{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 4.5rem;
          position: relative;
          cursor: pointer;
          font-size: 1rem;
          color: #333;
          @media(min-width: 1000px){
            display: flex;
            flex-wrap: wrap;
            height: 6.5rem;
            flex-direction: column;
            justify-content: space-evenly;
          }
          &:before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: #49bdd7;
            position: absolute;
            top: 23%;
            transition: all 0.2s;
            left: -28%;
            border-radius: 3px;
            width: 1rem;
            height: 2.5rem;
          }
          h4{
            text-align: center;
            display: none;
            color: #49bdd7;
            @media(min-width: 1000px){
              display: block;
              width: 100%;
              margin: 5px 0 0 20px;
              text-align: left;
              font-size: 12px;
              font-weight: bold;
            }
          }
          .subtitle-setting{
            background-color: transparent;
            border-radius: 5px;
            @media(min-width: 1000px){
              display: flex;
              align-items: center;
              width: 90%;
              justify-content: left;
              border-radius: 2px;
              padding: 7px 10px;
              height: 32px;
            }
            #icon-setting{
            font-size: 1rem;
            transition: all 0.2s;
            @media(min-width: 1000px){
              font-size: 1rem;
            }
            }
            p{
              display: none;
              margin: 0;
              @media(min-width: 1000px){
                display: block;
              }
            }

            .fa-gear{
              color: blue;
              padding: 8px;
              border-radius: 5px;
              color: #333;
              font-size: 10px;
              transition: all 0.2s;
              background-color: transparent;
              cursor: pointer;
            }
          }
        }
      }
    }
    #dashboard{
      margin-top: 3rem;
      background-color: #f3f2f3;
      width: 84%;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      @media(min-width: 1000px){
        width: 88.5%;
        padding: 0;
        margin: 3rem auto 0;
      }
      .message-main{
        width: 100%;
        margin-top: 1rem;
        display: block;
        padding: 1rem;
        @media(min-width: 1000px){
          padding: 1rem 2.5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &.hide-collection{
          transform: translateY(30%);
          opacity: 0;
          visibility: hidden;
        }
        .text-collection{
          h2{
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
          }
          p{
            font-size: 1rem;
          }
        }
        .button-container{
          .button{
            background-color: #45ae70;
            color: #fff;
            border: none;
            border-radius: 3px;
            padding: 10px 15px;
          }
        }
      }
      .message-collection{
        width: 100%;
        text-align: center;
        margin-top: 5rem;
        &.hide-collection{
          transform: translateY(30%);
          opacity: 0;
          visibility: hidden;
        }
        p{
          color: #9b9b9b;
          font-size: 1rem;
          @media(min-width: 1000px){
            font-size: 1.3rem;

          }
        }
        .fa-video{
          font-size: 2.5rem;
          color: #45ae70;
        }
        #add-colecction{
          box-sizing: border-box;
          background-color: #45ae70;
          color: #fff;
          border: none;
          border-radius: 3px;
          padding: 12px 25px;
          font-size: 14px;
          font-weight: bold;
        }
      }
      #new-collection{
        box-sizing: border-box;
        width: 92%;
        margin: auto;
        background-color: #f3f2f3;
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s;
        &.show-collection{
          visibility: visible;
          opacity: 1;
          transform: translateY(-50%);
          @media(min-width: 1000px){
            transform: translateY(-65%);
          }
        }
        @media(min-width: 1000px){
          width: 95%;
        }
        .header-new-colection{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
          .label-title{
            width: 100%;
          }
          h2{
            color: #a7a7a7;
            .span-icon{
              color: #000;
              font-size: 1rem;
            }
            .span-text{
              font-size: 24px;
              color: #000;
            }
          }
          .label-title{
            margin-top: 2rem;
          }
          #title{
            width: 100%;
            padding: 0;
            outline: none;
            height: 2.8rem;
            margin: 10px 0;
            border: solid 1px #ccc;
            outline: none;
            @media(min-width: 1000px){
              width: 20%;
              height: 3rem;
            }
          }
          .terminar{
            background-color: #45ae70;
            color: #fff;
            outline: none;
            border: none;
            padding: 9px 24px;
            border-radius: 3px;
          }
        }
        .drop-zone{
          background-color: #fff;
          padding: 0px 10px 12px;
          box-sizing: border-box;
          border: solid 1px #ccc;
           @media(min-width: 1200px){
             display: flex;
             box-sizing: border-box;
             flex-wrap: wrap;
             justify-content: space-evenly;
             align-items: center;
             padding: 1rem;
           }
          p{
            text-align: center;
            margin-top: 0;
            width: 100%;
            margin: 5px 0px;
          }
          #drop-image{
            position: relative;
            text-align: center;
            background-color: #f3f2f3;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 220px;
            color: #919191;
            overflow: hidden;
            margin: auto;
            cursor: pointer;
            #thumb-image{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              &.z-index{
                z-index: 100;
              }
            }
            @media(min-width: 1200px){
              width: 400px;
              height: 300px;
            }
            &.drop-zone--active{
              background-color: rgba(#000,.5);
            }
            .fa-image{
              margin: auto;
              font-size: 3rem;
            }
            p{
              width: 100%;
            }
            #input-image{
              display: none;
            }
            .loadbar-image{
              position: absolute;
              margin: auto;
              top: 100%;
              left: 50%;
              transition: all 0.3s;
              transform: translateX(-50%);
              &.traslate-loadbar--image{
                top: 30%;
              }
              .circular-progress-image{
                position: relative;
                height: 150px;
                width: 150px;
                background-color: #45ae70;
                border-radius: 50%;
                display: grid;
                place-items: center;
                &::before{
                  content: '';
                  position: absolute;
                  height: 85%;
                  width: 85%;
                  background-color: #f3f2f3;
                  border-radius: 50%;
                }
                .percentage-image{
                  position: relative;
                  color: #000;
                  font-weight: bolder;
                  font-size: 2rem;
                }
              }
            }
          }
          .icon-arrow {
            font-size: 4rem;
            text-align: center;
            display: block;
            color: #919191;
            margin: 1rem auto;
            @media(min-width: 1200px){
              font-size: 7rem;
              transform: rotate(-90deg);
            }
          }
          #drop-video{
            box-sizing: border-box;
            position: relative;
            color: #919191;
            text-align: center;
            display: flex;
            overflow: hidden;
            flex-wrap: wrap;
            margin: auto;
            border: solid 1px #ccc;
            width: 100%;
            height: 220px;
            background-color: #f3f2f3;
            cursor: pointer;
            #thumb-video{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              &.z-index{
                z-index: 100;
              }
            }
            @media(min-width: 1200px){
              width: 400px;
              height: 300px;
            }
            &.drop-zone--active{
              background-color: rgba(#000,.5);
            }
            .fa-video{
              margin: auto;
              font-size: 3rem;
            }
            p{
              width: 100%;
            }
            #input-video{
              display: none;
            }
            .loadbar-video{
              position: absolute;
              margin: auto;
              top: 100%;
              left: 50%;
              transition: all 0.3s;
              transform: translateX(-50%);
              &.traslate-loadbar--video{
                top: 30%;
              }
              .circular-progress-video{
                position: relative;
                height: 150px;
                width: 150px;
                background-color: #45ae70;
                border-radius: 50%;
                display: grid;
                place-items: center;
                &::before{
                  content: '';
                  position: absolute;
                  height: 85%;
                  width: 85%;
                  background-color: #f3f2f3;
                  border-radius: 50%;
                }
                .percentage-video{
                  position: relative;
                  color: #000;
                  font-weight: bolder;
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
